<section class="todoapp">
  <header class="header">
    <h1>{{titre}}</h1>
    <!-- Call appendItem with the new item name when is added -->
    <form (submit)="appendItem(newTodoInput.value)">
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus
              />
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
    />
    <ul class="todo-list">
      <!-- Loops through items and checks if is in the filters -->
      <ng-container *ngFor="let item of data.items">
        <app-todo-item 
        *ngIf="isItemShown(item)"
        [item]="item"
        (checkAction)="checkItem($event)"
        (removeAction)="removeItem($event)"
        (renameAction)="renameItem($event)"
        ></app-todo-item>
      </ng-container>
    </ul>
  </section>
  <footer class="footer">

    <div style="display:block">
      <span class="todo-count"><strong>{{countItemsLeft()}}</strong> restantes</span>
      <ul class="filters">
        <li>
          <a 
            class="filterAll" 
            (click)="setFilter('all')"
            [class.selected]="filter === 'all'">Tous</a>
        </li>
        <li>
          <a 
            class="filterActives" 
            (click)="setFilter('actives')"
            [class.selected]="filter === 'actives'">Actifs</a>
        </li>
        <li>
          <a class="filterCompleted" (click)="setFilter('completed')"
          [class.selected]="filter === 'completed'">Complétés</a>
        </li>
      </ul>
    </div>
  </footer>
  <!-- Delete buttons -->
  <div class="footer">
      <a class="clear-button" (click)="removeAllItems()">Tout supprimer</a>
      <a class="clear-button" (click)="removeCheckedItems()">Supprimer cochées</a>
  </div>
  <!-- Undo / Redo buttons -->
  <div class="footer">
      <a class="clear-button" [class.button-disabled]="!canUndo()" (click)="undo()">Undo</a>
      <a class="clear-button" [class.button-disabled]="!canRedo()" (click)="redo()">Redo</a>
  </div>
</section>
<hr/>

<!-- QR code section -->
<app-qr-code [todolist] = "data" (qrcodeUploaded)="loadTodoListQRCode($event)"></app-qr-code> 