<li [class.editing] = "showEdit" [class.completed] = "item.isDone">
    <div class="view">
        <input 	class			= "toggle"
                type			= "checkbox"
                name			= "fait"
                [checked] = "item.isDone"
                (click) = "checkAction.emit(item)"  
        />
        <label class="texte"
               *ngIf="!showEdit"
               (click)="showEdit = true"
         >{{item.label}}</label>
        <button class="destroy" (click)="removeAction.emit(item)"></button>
      </div>
      <form (submit)="showEdit = false">
        <input  #newTextInput
                name    = "newTextInput"
                class   = "edit"
                [(ngModel)]="item.label"
                (change)="renameAction.emit(item)"
                (blur)="showEdit = false"
                *ngIf="showEdit"/>
      </form>
</li>